<ion-view title="News Feed" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="newsFeed-card21">
      <ion-item class="item-avatar" id="newsFeed-list-item3">
        <img src="img/aC0S1XFVRQ6uxnF6SmnC_24775261_163441317594651_3571857228887685951_n.png">
        <h2>Khmer PES</h2>
      </ion-item>
      <div id="newsFeed-markdown2" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Japan vs Cambodia | Asian Cup</p>
      </div>
      <div id="newsFeed-markdown3" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;"> #japan #cambodia</p>
      </div>
      <div class=" item item-image">
        <img src="img/F1NjL2XGTBiO54rMLKGD_ProEvolutionSoccer201802.05.2018-22.32.40.04.mp4_snapshot_00.01_2018.02.07_19.07.30.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="newsFeed-button-bar1" class="button-bar">
        <button id="newsFeed-button4" class="button button-light button-block icon ion-ios-heart"></button>
        <button id="newsFeed-button5" class="button button-light button-block icon ion-chatboxes"></button>
        <button id="newsFeed-button6" class="button button-light button-block icon ion-android-share"></button>
      </div>
    </div>
    <div class="list card" id="newsFeed-card22">
      <ion-item class="item-avatar" id="newsFeed-list-item5">
        <img src="img/aC0S1XFVRQ6uxnF6SmnC_24775261_163441317594651_3571857228887685951_n.png">
        <h2>Khmer PES</h2>
      </ion-item>
      <div id="newsFeed-markdown4" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Japan vs Cambodia | Asian Cup</p>
      </div>
      <div id="newsFeed-markdown5" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;"> #japan #cambodia</p>
      </div>
      <div class=" item item-image">
        <img src="img/F1NjL2XGTBiO54rMLKGD_ProEvolutionSoccer201802.05.2018-22.32.40.04.mp4_snapshot_00.01_2018.02.07_19.07.30.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="newsFeed-button-bar2" class="button-bar">
        <button id="newsFeed-button7" class="button button-light button-block icon ion-ios-heart"></button>
        <button id="newsFeed-button8" class="button button-light button-block icon ion-chatboxes"></button>
        <button id="newsFeed-button9" class="button button-light button-block icon ion-android-share"></button>
      </div>
    </div>
    <div class="list card" id="newsFeed-card23">
      <ion-item class="item-avatar" id="newsFeed-list-item6">
        <img src="img/aC0S1XFVRQ6uxnF6SmnC_24775261_163441317594651_3571857228887685951_n.png">
        <h2>Khmer PES</h2>
      </ion-item>
      <div id="newsFeed-markdown6" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Japan vs Cambodia | Asian Cup</p>
      </div>
      <div id="newsFeed-markdown7" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;"> #japan #cambodia</p>
      </div>
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="newsFeed-slider3" style="width:100%;height:200px;">
        <ion-slide-page id="newsFeed-slide213" style="background:url(&quot;img/Q22WaoLiRGC1gPyOKkS0_ProEvolutionSoccer201802.05.2018-22.52.18.05.mp4_snapshot_00.03_2018.02.08_08.52.12.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="newsFeed-slide214" style="background:url(&quot;img/Zw35kWhLQWyvWCPcaruG_ProEvolutionSoccer201802.05.2018-22.32.40.04.mp4_snapshot_00.01_2018.02.07_19.07.30.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="newsFeed-slide215" style="background:url(&quot;img/0MLq02ikQ8SPWfILIG5j_ProEvolutionSoccer201802.05.2018-22.17.17.03.mp4_snapshot_00.02_2018.02.07_19.07.06.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      </ion-slides>
      <div id="newsFeed-button-bar3" class="button-bar">
        <button id="newsFeed-button10" class="button button-light button-block icon ion-ios-heart"></button>
        <button id="newsFeed-button11" class="button button-light button-block icon ion-chatboxes"></button>
        <button id="newsFeed-button12" class="button button-light button-block icon ion-android-share"></button>
      </div>
    </div>
    <div class="list card" id="newsFeed-card24">
      <ion-item class="item-avatar" id="newsFeed-list-item7">
        <img src="img/aC0S1XFVRQ6uxnF6SmnC_24775261_163441317594651_3571857228887685951_n.png">
        <h2>Khmer PES</h2>
      </ion-item>
      <div id="newsFeed-markdown8" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Japan vs Cambodia | Asian Cup</p>
      </div>
      <div id="newsFeed-markdown9" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;"> #japan #cambodia</p>
      </div>
      <div class=" item item-image">
        <img src="img/F1NjL2XGTBiO54rMLKGD_ProEvolutionSoccer201802.05.2018-22.32.40.04.mp4_snapshot_00.01_2018.02.07_19.07.30.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="newsFeed-button-bar4" class="button-bar">
        <button id="newsFeed-button13" class="button button-light button-block icon ion-ios-heart"></button>
        <button id="newsFeed-button14" class="button button-light button-block icon ion-chatboxes"></button>
        <button id="newsFeed-button15" class="button button-light button-block icon ion-android-share"></button>
      </div>
    </div>
  </ion-content>
</ion-view>